{
  "extends": "airbnb",
  "rules": {
      "object-shorthand": 0,
      "import/prefer-default-export": 0,
      "react/prop-types": 0,
      "react/jsx-filename-extension": 0,
      "no-console": [
          "error",
          {
            allow: [
              "warn",
              "error"
            ]
          }
        ],
  }
}
